@model WebCore.DBContextofSQLserver.Nhanvien

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Nhanvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tennv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tennv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtnv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdtnv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachinv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachinv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gioitinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gioitinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngaysinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatkNavigation.Matk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Manv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
