@model WebCore.DBContextofSQLserver.Khachhang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Khachhang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sdtkh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sdtkh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diachikh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diachikh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatkNavigation.Matk)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Makh">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
