@model IEnumerable<WebCore.DBContextofSQLserver.Khachhang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tenkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sdtkh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diachikh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdtkh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachikh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatkNavigation.Matk)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Makh">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Makh">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Makh">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
