@model IEnumerable<WebCore.DBContextofSQLserver.Loaimonan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tenloai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenloai)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Maloai }) |
                @Html.ActionLink("Details", "Details", new { id = item.Maloai }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Maloai })
            </td>
        </tr>
    }

</table>

